<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Kurs</h1>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= link_to 'Legg til kurs', new_team_path, class: 'btn-primary2 shadow pull-right' %>
    </div>
  </div>


<br />
<div class="row" style="background: #fff;padding:15px;border-radius:10px;color:#1c1c1c;">
<br />

<% @teams.each do |team| %>
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail">

        
        <div class="caption">
          <h4>
            <div style="padding-top: 5px"><%= link_to truncate(team.name, :length => 22), team, class: 'shorten' %>
            </div>
          </h4>
        </div>
        
        <%# if can? :manage, team %>
        <%= link_to "Redigér", edit_team_path(team), class: 'btn-green box' if current_user.admin? %>
        <%# end %>
        <%#div class="col-xs-8 col-sm-6">
          <% &#9889; rating %>
        <%#/div>
        <%#div class="col-xs-4 col-sm-6"%>
        <%#/div%>
      </div>
    </div>
<% end %>
