<div class="nested-fields">
    <center>

	    <div class="form-inputs">

		    <div class="box2">
		      <%= text_field_tag("day[date]", value = @day.date, html_options = { class: 'form-control datepicker', placeholder: 'Velg dato' }) %>
		    </div>


	    </div>

	</center>
</div>
