<div class="container-large desktopHide" style="background: #fff;border-radius:10px;color:#1c1c1c;padding:100px;margin:60px">

	<h3><strong>Program oversigt fra dag 1 - 5:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/day1
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/day1_2
	<br />
	<br />
	<div style="color:#999"><br />
	Block names for '1_2' - '5_2' SKAL bli kalt “day1_2”, “day2_2”, “day3_2”, “day4_2”, “day5_6”.
	</div>
	<br />
	<center>
	<%= image_tag('/guide1.png') %>
	</center>
	<br />
	<hr>
	<br />

	<h3><strong>Program detaljer:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/program<strong>[program-nummer]</strong> (1-20)

	<br />
	<br />
	<div style="color:#999">
	Block names SKAL bli kalt “program1”, “progam2” osv, op til 20.
	</div>
	<br />
	<hr>
	<br />

	<h3><strong>Foredragsholder-oversigt for et arrangement:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/speakers
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/speakers_2<br /><br />
	<div style="color:#999">
	Navn første foredragsholdere-blokk som ønsket, men 2. foredragsholdere-blokk SKAL bli kalt 'speakers_2'
	</div>
	<br />
	<hr>
	<br />

	<h3><strong>Program oversigt:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/programs
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/programs_2

	<br /><br />

	<div style="color:#999">
	Navn første programmer-blokk som ønsket, men 2. programmer-blokk SKAL bli kalt 'programs_2'
	</div><br />
	<center>
	<%= image_tag('/guide2.png') %>
	</center>
	<br />
	<hr>
	<br />


	<h3><strong>Foredragsholder detaljer:</strong> </h3>
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/programs/speaker<strong>[speaker-nummer]</strong>
	<br /><br />

	<div style="color:#999">
	Block names SKAL bli kaldt “speaker1”, “speaker2” osv, op til 20.
	</div>
	<br />
	<hr>
	<br />

	<h3><strong>Link til billetkøb:</strong> </h3>
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/link
	<br />
	<hr>
	<br />

	<h3><strong>Kort over konferansen:</strong> </h3>
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/map
	<br /><br />

</div>


<div class="mobileHide" style="background: #fff;border-radius:10px;color:#1c1c1c;padding:10px;margin:10px">

	<h3><strong>Program oversigt fra dag 1 - 5:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/day1
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/day1_2
	<br />
	<br />
	<div style="color:#999"><strong>
	Block names for '1_2' - '5_2' SKAL bli kalt “day1_2”, “day2_2”, “day3_2”, “day4_2”, “day5_6”.
	</div>
	<br />
	<center>
	<%= image_tag('/guide1.png', class: 'fullwidth') %>
	</center>
	<br />
	<hr>
	<br />

	<h3><strong>Program detaljer:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/program<strong>[program-nummer]</strong> (1-20)

	<br />
	<br />
	<div style="color:#999">
	Block names SKAL bli kalt “program1”, “progam2” osv, op til 20.
	</div>
	<br />
	<hr>
	<br />

	<h3><strong>Foredragsholder-oversigt for et arrangement:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/speakers
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/speakers_2<br /><br />
	<div style="color:#999">
	Navn første foredragsholdere-blokk som ønsket, men 2. foredragsholdere-blokk SKAL bli kalt 'speakers_2'
	</div>
	<br />
	<hr>
	<br />

	<h3><strong>Program oversigt:</strong> </h3>
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/programs
	<br />
	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/programs_2
	<br />
	<hr>
	<br />

	<div style="color:#999">
	Navn første programmer-blokk som ønsket, men 2. programmer-blokk SKAL bli kalt 'programs_2'
	</div><br />
	<center>
	<%= image_tag('/guide2.png', class: 'fullwidth') %>
	</center>
	<br />
	<hr>
	<br />


	<h3><strong>Foredragsholder detaljer:</strong> </h3>
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/programs/speaker<strong>[speaker-nummer]</strong>
	<br /><br />

	<div style="color:#999">
	Block names SKAL bli kaldt “speaker1”, “speaker2” osv, op til 20.
	</div>
	<br />
	<hr>
	<br />


	<h3><strong>Link til billetkøb:</strong> </h3>
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/link
	<br />
	<hr>
	<br />

	<h3><strong>Kort over konferansen:</strong> </h3>
	<br />

	http://netovo.herokuapp.com/api/users/<strong>[user_id]</strong>/events/<strong>[event_id]</strong>/map
	<br /><br />

</div>


