<div class="desktopHide">
	<div class="header-top">
		<center>
		<%= image_tag '/landing3.png' %></center>
	</div>
</div>

<div class="mobileHide">
	<div class="header-top">
		<center>
		<%= image_tag '/landing3.png' %></center>
	</div>
</div>


