
<div class="header-top">
	<center><%= image_tag '/real7.jpg', class: 'pull-right' %></center>
	<div class="container">
		<h1 class="header-text">We send the leads.<br />
		You close the deals.</h1>
		With an AI driven Facebook Messenger assistant.
	</div>
</div