<div class="desktopHide">
	<div class="whitebg">
	<h2 style="position: absolute;padding:120px;font-size:50px">Din event AI <br/>chatbot</h2>
		<%= image_tag '/speaker.png', class: 'landingpic' %>
	</div>
</div>

<div class="mobileHide">
	<div class="whitebg">
	<h2 style="position: absolute;padding:20px;font-size:34px">Din event AI chatbot</h2>
			<center>
				<%= image_tag '/speaker-mobile.png' %>
			</center>
	</div>
</div>


