.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > {
  height: 5px
}

.whitebg {
  background: #fff;
  position: relative
}
.landingpic {
  float: right
}
.logo {
	height: 50px;
	padding: 4px;
  margin-top: 2px;
}
.container-large {
  padding-left: 5%;
  padding-right: 5%;
  background: #f9f8f8
}
.container-fluid {
  background: #162C4A;
}
#footer {
    clear: both;
    position: relative;
    height: 3em;
    height: 60px;
}
.box {
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.box:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.05, 1.01);
  text-decoration: none
}

.box:hover::after {
    opacity: 1;
}
.shadow {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
.btn-primary {
	margin: 10px;
	height: 50%;
	color: #fff !important;
	background: #0052CC !important;
	border: none !important;
  border-radius: 25px;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  &:hover {
  background: #172b4d !important
  }
}
.logoindex {
  width: 150px;
}

.box3 {-webkit-box-shadow:0 2px 4px 1px rgba(97, 97, 97, 1),0 1px 3px 1px rgba(97, 97, 97, 1),0 2px 2px -1px rgba(97, 97, 97, 1);box-shadow:0 4px 8px 1px rgba(97, 97, 97, 1),0 1px 3px 1px rgba(97, 97, 97, 1),0 2px 2px -1px rgba(97, 97, 97, 1);
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition:    -webkit-box-shadow 0.5s;
  -ms-transition:     -webkit-box-shadow 0.5s;
  -o-transition:      -webkit-box-shadow 0.5s;
  transition:         -webkit-box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition:    box-shadow 0.5s;
  -ms-transition:     box-shadow 0.5s;
  -o-transition:      box-shadow 0.5s;
  transition:         box-shadow 0.5s;
  -webkit-transition: -webkit-background 0.5s;
  -moz-transition:    -webkit-background 0.5s;
  -ms-transition:     -webkit-background 0.5s;
  -o-transition:      -webkit-background 0.5s;
  transition:         -webkit-background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition:    background 0.5s;
  -ms-transition:     background 0.5s;
  -o-transition:      background 0.5s;
  transition:         background 0.5s;
  width: 26%;
  margin-bottom: 5px !important;
}
.box3:hover { -webkit-box-shadow:none;box-shadow:none;background:#494949 !important; }

/* SLOTS */

.btn2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.btn3 {
  margin: 5px;
  color: #fff !important;
  background: linear-gradient(to bottom right, #1c1c1c, #323232) !important;
  border: none !important;
}
.btn3:hover {
  border: 2px solid #c43240;
}
#item_direction {
  direction:ltr;
}
div.ex1 {
  width: 300px;
  overflow-x: scroll;
  overflow-x:scroll;
  overflow-y:hidden;
  -webkit-overflow-scrolling:touch;
}
.weekday {
  font-size: 10px;
  color: #6f6f6f;
  text-align: center;
}

th {
  cursor:pointer;
}

label > input{
  visibility: hidden;
  position: absolute;
}
label > input + span{
  cursor:pointer;
  border:2px solid transparent;
}

/* END OF SLOTS */

.mobile {
  background: linear-gradient(to bottom right, #fff, #f3f2f2);
}


/* PROPERTY FORM */

@media only screen and (min-width: 600px) {
  .speaker-form {
    padding: 60px !important;
  }
}

input, select, textarea {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  border: none
}
.button {
  background: #fff;
  padding: 10px !important;
  border: 1px solid #1c1c1c !important;
  &:hover {
  background: #f3f2f2 !important;
  }
}
/* END OF PROPERTY FORM */

/* PROPERTIES INDEX */

.btn-primary2 {
  margin: 10px;
  height: 50%;
  color: #fff !important;
  background: linear-gradient(to bottom right, #0052CC, #00b8cc);
  border: none !important;
  text-decoration: none !important;
  border-radius: 25px;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  &:hover {
  background: #172b4d !important
  }
}
.btn-primary-grey {
  margin: 10px;
  height: 50%;
  color: #aaa9a9 !important;
  background: linear-gradient(to bottom right, #f3f2f2, #c3c2c2);
  border: none !important;
  text-decoration: none !important;
  border-radius: 25px;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* END OF PROPERTIES INDEX */

/* PROPERTY SHOW */

.speaker {
  font-size: 18px; 
}
.image-border {
  border: 3px solid #fff;
  border-radius: 3px;
  width: 100%;
}
.speaker-image {
  overflow: hidden;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.speaker-image:hover {
  opacity: .5;
}
.speaker-image > img {
  width: 100%
}
.event-image {
  overflow: hidden;
  opacity: 1;
  width: 100%}
.shorten {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-green {
  background-color: #0052CC;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff !important;
  font-size: 14px;
  width: 47%;
  text-align: center;
  border-radius: 5px;
  &:hover {
  background: #172b4d !important;
  text-decoration: none
  }
}

.btn-green-programs {
  background-color: #0052CC;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff !important;
  font-size: 14px;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  &:hover {
  background: #172b4d !important;
  text-decoration: none
  }
}
.btn-green-events {
  background-color: #c3c2c2;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff !important;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  &:hover {
  background: #172b4d !important;
  text-decoration: none
  }
}
.btn-red {
  background-color: #dc7063;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #fff !important;
  width: 30%;
  text-align: center;
  &:hover {
  background-color: #ac2925;
  }
  border: none;
  text-decoration: none
}
.btn-red-events {
  background-color: #dc7063;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff !important;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  &:hover {
  background: #ac2925;
  text-decoration: none
  }
}
.add-image {
  font-size:14px;
  background:#bbb;
  padding:14px;
  border-radius:5px;
}
/* END OF PROPERTY SHOW */

/* DROPDOWN */

.lang {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: none;
  margin-right: none;
  height: 50%;
  color: #fff;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  padding: 30px;
  border-radius: 10px !important;
  font-size: 20px;
  font-weight: 300;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f2f2;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

/* END OF DROPDOWN */

/* MOBILE RESPONSIVENESS */
@media only screen and (min-width: 600px) {
  .mobileHide {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .mobileHideEvents {
    display: none;
  }
}

/* END OF MOBILE RESPONSIVENESS */

/* DESKTOP RESPONSIVENESS */
@media only screen and (max-width: 600px) {
  .desktopHide {
    display: none;
  }
  input, textarea {
    width: 100% !important;
  }
  input[type="file"] {
    padding-left: 30%;
  }
  .btn-primary2 {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .desktopHideEvents {
    display: none;
  }
}

/* END OF DESKTOP RESPONSIVENESS */
.navbar {
  margin-bottom: 0 !important;
  border: none !important;
}

.header-top {
  background-size: cover;
}
.header-top-mobile {
  background-size: cover;
}
.header-text {
  color: #444;
  font-size: 36px;
  padding-top: 70px;
}
.header-text-2 {
  color: #444;
  font-size: 45px;
}
@media only screen and (max-width: 900px) {
    desktopHide {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 900px) {
    mobileHide {
        display: none;
        visibility: hidden;
    }
}
.mobile-pic {
  width: 100%;
}
.big-btn {
  margin: 10px;
  color: #fff !important;
  border-radius: 4px;
  font-size: 26px;
  font-family: poppins;
  background: #dc7063 !important;
  border: none !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    text-decoration: none !important;
    opacity: 0.8 !important;
  }
}
.big-btn2 {
  margin: 10px;
  color: #fff !important;
  border-radius: 4px;
  font-size: 26px;
  font-family: poppins;
  background: #dc7063 !important;
  border: none !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    text-decoration: none !important;
    opacity: 0.8 !important;
  }
}

.box2 {
  margin: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px
}
.box2:hover { -webkit-box-shadow:none;box-shadow:none; }

.box2 > .form-control {
  background: #fff !important;
  border: none;
  padding: 30px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
  background: #c3c2c2 !important;
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.05, 1.01);
  }
}

.box2 > .form-control:hover::after {
    opacity: 1;
}

.box2 > .form-control::-moz-placeholder {
  color: #1c1c1c;
  font-size: 18px
}

.image-border {
  background: none
}

.thumbnail {
  background: #f3f2f2 !important
}

.full-width {
  width: 100%;
}

.form-control {
  border: none !important
}

.white-text {
  color: #fff;
  &:hover {
  text-decoration: none;
  color: #fff
  }
}
.white-text-bg {
  background: linear-gradient(to bottom right, #cc7a00, #cc1400);
  font-size:14px;
  padding:14px;
  border-radius:25px;
  &:hover {
  background: linear-gradient(to bottom right, #8e5500, #8e0e00);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
container-large {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: #333;
  padding: 30px;
}