.logo {
	height: 50px;
	padding: 4px;
  margin-top: 2px;
}
.container-fluid {
  background: #63CFDC;
}
.body {
	background-color: #eaeaea !important;
}
#footer {
    clear: both;
    position: relative;
    height: 3em;
  height: 60px;
}
.box {
  position: relative;
  display: inline-block;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.05, 1.01);
}

.box:hover::after {
    opacity: 1;
}
.shadow {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
.btn-primary {
	margin: 10px;
	height: 50%;
	color: #45909a !important;
	background: #fff !important;
	border: none !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.logoindex {
  width: 150px;
}

.box3 {-webkit-box-shadow:0 2px 4px 1px rgba(97, 97, 97, 1),0 1px 3px 1px rgba(97, 97, 97, 1),0 2px 2px -1px rgba(97, 97, 97, 1);box-shadow:0 4px 8px 1px rgba(97, 97, 97, 1),0 1px 3px 1px rgba(97, 97, 97, 1),0 2px 2px -1px rgba(97, 97, 97, 1);
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition:    -webkit-box-shadow 0.5s;
  -ms-transition:     -webkit-box-shadow 0.5s;
  -o-transition:      -webkit-box-shadow 0.5s;
  transition:         -webkit-box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition:    box-shadow 0.5s;
  -ms-transition:     box-shadow 0.5s;
  -o-transition:      box-shadow 0.5s;
  transition:         box-shadow 0.5s;
  -webkit-transition: -webkit-background 0.5s;
  -moz-transition:    -webkit-background 0.5s;
  -ms-transition:     -webkit-background 0.5s;
  -o-transition:      -webkit-background 0.5s;
  transition:         -webkit-background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition:    background 0.5s;
  -ms-transition:     background 0.5s;
  -o-transition:      background 0.5s;
  transition:         background 0.5s;
  width: 26%;
  margin-bottom: 5px !important;
}
.box3:hover { -webkit-box-shadow:none;box-shadow:none;background:#494949 !important; }

/* SLOTS */

.btn2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.btn3 {
  margin: 5px;
  color: #fff !important;
  background: linear-gradient(to bottom right, #1c1c1c, #323232) !important;
  border: none !important;
}
.btn3:hover {
  border: 2px solid #c43240;
}
#item_direction {
  direction:ltr;
}
div.ex1 {
  width: 300px;
  overflow-x: scroll;
  overflow-x:scroll;
  overflow-y:hidden;
  -webkit-overflow-scrolling:touch;
}
.weekday {
  font-size: 10px;
  color: #6f6f6f;
  text-align: center;
}

th {
  cursor:pointer;
}

label > input{
  visibility: hidden;
  position: absolute;
}
label > input + span{
  cursor:pointer;
  border:2px solid transparent;
}

/* END OF SLOTS */

.mobile {
  background: linear-gradient(to bottom right, #fff, #f3f2f2);
}


/* PROPERTY FORM */

@media only screen and (min-width: 600px) {
  .property-form {
    padding: 60px !important;
  }
}

input, select, textarea {
  padding: 8px;
  width: 40%;
}
.button {
  background: #fff;
  padding: 10px !important;
  border: 1px solid #1c1c1c !important;
  &:hover {
  background: #f3f2f2 !important;
  }
}
/* END OF PROPERTY FORM */

/* PROPERTIES INDEX */

.btn-primary2 {
  margin: 10px;
  height: 50%;
  color: #fff !important;
  background: linear-gradient(to bottom right, #63CFDC, #63dcad);
  border: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  text-decoration: none !important;
}

/* END OF PROPERTIES INDEX */

/* PROPERTY SHOW */

.property {
  font-size: 18px; 
}
.image-border {
  border: 3px solid #fff;
  border-radius: 3px;
  width: 100%;
}
.property-image {
  overflow: hidden;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.property-image:hover {
  opacity: .5;
}

.btn-green {
  background-color: #63CFDC;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff !important;
}
.btn-red {
  background-color: #dc7063;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff !important;
  &:hover {
  background-color: #ac2925;
  }
  border: none;
}
.add-image {
  font-size:14px;
  background:#bbb;
  padding:14px;
  border-radius:5px;
}
/* END OF PROPERTY SHOW */

/* DROPDOWN */

.lang {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: none;
  margin-right: none;
  height: 50%;
  color: #fff;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  padding: 30px;
  border-radius: 10px !important;
  font-size: 20px;
  font-weight: 300;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f2f2;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

/* END OF DROPDOWN */

/* MOBILE RESPONSIVENESS */
@media only screen and (min-width: 600px) {
  .mobileHide {
    display: none;
  }
}
/* END OF MOBILE RESPONSIVENESS */

/* DESKTOP RESPONSIVENESS */
@media only screen and (max-width: 600px) {
  .desktopHide {
    display: none;
  }
  input, textarea {
    width: 100% !important;
  }
  input[type="file"] {
    padding-left: 30%;
  }
  .btn-primary2 {
    width: 80%;
  }
}
/* END OF DESKTOP RESPONSIVENESS */

.navbar-default .navbar-toggle .icon-bar {
  background: #fff !important;
}
.navbar {
  margin-bottom: 0 !important;
}

.header-top {
  background-size: cover;
  background: #E8F1EC;
}
.header-top-mobile {
  background-size: cover;
  background: #E8F1EC;
}
.header-text {
  color: #444;
  font-size: 36px;
  padding-top: 70px;
}
.header-text-2 {
  color: #444;
  font-size: 45px;
}
@media only screen and (max-width: 900px) {
    desktopHide {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 900px) {
    mobileHide {
        display: none;
        visibility: hidden;
    }
}
.mobile-pic {
  width: 100%;
}
.big-btn {
  margin: 10px;
  color: #fff !important;
  border-radius: 4px;
  font-size: 26px;
  font-family: poppins;
  background: #dc7063 !important;
  border: none !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    text-decoration: none !important;
    opacity: 0.8 !important;
  }
}
.big-btn2 {
  margin: 10px;
  color: #fff !important;
  border-radius: 4px;
  font-size: 26px;
  font-family: poppins;
  background: #dc7063 !important;
  border: none !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    text-decoration: none !important;
    opacity: 0.8 !important;
  }
}