<script type="text/javascript">
    particlesJS.load('particles-js', '.assets/javascripts/particles.json', function() {
    console.log('callback - particles.js config loaded');
 });
  </script>
<div class="footer">
    <div id="footer">
        <p class="text-center" style="color:#c3c2c2">
    	<br/>2018 &copy Confer
	    </p>
    </div>
</div>